.project-container{
    height: 80vh;
    position: relative;
}

.project-title-first{
    font-weight: bold;
    font-size: 55px;
    text-align: center;
}

.project {
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}


.project-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    position: relative;
    padding: 0px 10px;
    flex-direction: row;
}

.project-left-wrapper, project-medium-wrapper, project-right-wrapper{
    padding: 10px;
}

.project-medium{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.project-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.project-con-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.project-con-img2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.project-con-img3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 33px;
}

.project-to-link{
    display: flex;
    justify-content: space-evenly;
}

.project-link{
    border: 1px solid #81add0;
    padding: 5px;
}

@media screen and (max-width: 480px){
    .project-container{
        padding-top: 70px;
        height: 80%;
    }
    .project{
        flex-direction: column;
    }
    .project-left {
        padding: 0px 10px;
        width: 100%;
    }
    .project-medium{
        padding: 0px 10px;
        width: 100%;
    }
    .project-right{
        padding: 0px 10px;
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .project-container{
        padding-top: 200px;
    }
}

@media screen and (max-width: 700px){
    .project-container{
        padding-top: 80px;
    }
}

@media screen and (max-width: 897px){
    .project-container{
        padding-top: 100px;
    }
}

@media screen and (max-width: 668px){
    .project-container{
        padding-top: 200px;
    }
}