.about{
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.about-right{
    flex: 1
}

.about-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #333;
}

.about-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title{
    font-weight: 400;
}

.about-sub{
    margin: 20px 0px;
}

.about-desc{
    font-weight: 300;
}

.about-technology{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about-technology-img{
    width: 70px;
    height: 70px;
}

@media screen and (max-width:480px) {
    .about{
      flex-direction: column;
      text-align: center;
      margin-top: 50px;
      height: 85vh;
    }

    .about-left {
      width: 100%;
    }

    .about-card {
      height: 30vh;
    }

    .about-card.bg {
      top: -20px;
      left: 40px;
    }

    .about-right{
      padding: 20px;
    }

    .about-technology{
        position: relative;
    }
}

@media screen and (max-height: 896px){
    .about{
        height: 85vh;
    }
}

@media screen and (max-height: 740px){
    .about{
        height: 100vh;
    }
}

@media screen and (max-height: 668px){
    .about{
        height: 100vh;
    }
}