.contact {
    height: 80vh;
    position: relative;
  }
  
  .contact-bg {
    width: 20px;
    height: 100%;
    background-color: #579bd0;
    position: absolute;
  }
  
  .contact-wrapper {
    padding: 50px;
    display: flex;
  }
  
  .contact-left {
    flex: 1;
  }
  
  .contact-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .contact-title {
    font-size: 60px;
    width: 80%;
  }
  
  .contact-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
  }
  
  .contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  
  .contact-desc {
    font-weight: 200;
    font-size: 20px;
  }
  
  .contact-link{
    text-decoration: none;
    color: #222;
    font-size: 22px;
  }

  form {
    margin-top: 20px;
  }
  
  input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #222;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
  }
  
  button {
    border: none;
    padding: 15px;
    background-color: #579bd0;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  
  @media screen and (max-width: 480px) {
    .contact{
      height: 80vh;
    }

    .contact-bg{
      height: 100%;
    }
    
    .contact-wrapper {
      flex-direction: column;
      padding: 0px 50px;
    }
  
    .contact-title {
      font-size: 30px;
    }
  
    .contact-info-item {
      margin: 20px 0px;
      width: 100%;
    }
  
    .contact-desc {
      display: none;
    }
  
    form {
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
  
    input {
      width: 35%;
      height: 40px;
      margin: 10px;
      margin-left: 0;
    }
  
    button {
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 700px){
    .contact{
      height: 60vh;
    }

    .contact-bg{
      height: 100%
    }
  }
  
  @media screen and (max-width: 390px){
    .contact{
      height: 65vh;
    }
  }


  @media screen and (max-width: 375px){
    .contact{
      height: 82vh;
    }
  }

  @media screen and (max-height: 851px){
    .contact{
      height: 62vh;
    }
  }

    
  @media screen and (max-height: 667px){
    .contact{
      height: 80vh;
    }
  }

  @media screen and (max-height: 741px){
    .contact{
      height: 72vh;
    }
  }

  @media screen and (max-height: 667px){
    .contact{
      height: 80vh;
    }
  }